<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        <%= title %>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/font-awesome.min.css">

    <link rel="stylesheet" href="../public/css/ace.min.css">
    <link rel="stylesheet" href="../public/css/ace-rtl.min.css">
    <link rel="stylesheet" href="../public/css/ace-skins.min.css">
    <script src="../public/javascripts/jquery.min.js"></script>
    
    <script src="../public/js/ace-extra.min.js"></script>

    <style>
        /* 侧边栏分辨率大于等于 768px 时 宽度设置250px） 小于768px时 样式表不起作用 */
        @media (min-width: 768px) {
            #slider_sub{
                width: 250px;
                height: 600px;
                margin-top:51px;
                position: absolute;
                z-index: 1;
            }
        }
    </style>
</head>

<body>
    <!-- 导航 -->
    <div class="navbar navbar-default" id="navbar">
        <script type="text/javascript">
            try {
                ace.settings.check('navbar', 'fixed')
            } catch (e) {}
        </script>

        <div class="navbar-container" id="navbar-container">
            <div class="navbar-header pull-left">
                <a href="#" class="navbar-brand">
                    <small>
                        <i class="icon-leaf">
                            中医妇科临床流调数据中心
                        </i>
                    </small>
                </a>
            </div>
        </div>

        <div class="navbar-header pull-right" role="navigation">
            <ul class="nav ace-nav">
                <li class="light-blue">
                    <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                        <img class="nav-user-photo" src="../public/avatars/0017030553263367_b.jpg" alt="Jason's Photo">
                        <span class="user-info">
                            <small>欢迎,</small>
                            <%= username %>
                        </span>

                        <i class="icon-caret-down"></i>
                    </a>

                    <ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                        <li>
                            <a href="#account-info" role="button" data-toggle="modal">
                                <i class="icon-user"></i>
                                个人信息
                            </a >
                        </li>
                                
                        <li>
                            <a href="../cipher">
                            <!-- <a href="../users/cipher"> -->
                                <i class="icon-cog"></i>
                                修改密码
                            </a>
                        </li>
                        <li class="divider"></li>

                        <li>
                            <a href="../logout">
                                <i class="icon-off"></i>
                                注销
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            
        </div>
        
    </div>
    <div id="account-info" class="modal fade" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header no-padding">
                        <div class="table-header" style="background-color: #d9edf7; color: #3a87ad">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                <span class="ui-button-text">&times;</span>
                            </button>
                            个人信息
                        </div>
                    </div>
        
                    <form class="modal-body no-padding" id="">
                        <table class="table table-striped table-bordered table-hover no-margin-bottom no-border-top">
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12">
                                        <div class="control-group">
                                                <p>姓名：<%= username %></p >
                                                    <p>医院：<%= account_hospital %></p >
                                                    <p>地址：<%= account_address %></p >
                                                    <p>性别：<%= account_sex %></p >
                                                    <p>邮箱：<%= account_email %></p >
                                                    <p>手机号：<%= account_phone %></p >
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </table>
                    </form>
        
        
                </div>
            </div>
    </div>
    <!-- 侧边栏 -->

    <div class="navbar-collapse" id="slider_sub">
        <ul class="nav">
            <% prjs.forEach(function(prj){ %>
            <% if (prj.status == "进行中"){ %>
            <li style="background-color: #EEEEEE"><a href="<%= prj.linkurl %>">
                    <%= prj.name %><span class="glyphicon glyphicon-chevron-right pull-right">
                    </span>
                </a>
            </li>
            <% }else { %>
            <li>
                <a href="<%= prj.linkurl %>">
                    <%= prj.name %><span class="glyphicon glyphicon-chevron-right pull-right">
                    </span>
                </a>
            </li>
            <% } %>
            <% }) %>

            


            <!-- <li style="background-color: #EEEEEE"><a href="sub1.html">产后缺乳症<span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
            </li>
            </li>
            <li style="background-color: #EEEEEE"><a href="about.html">排卵障碍性异常子宫出血<span class="glyphicon glyphicon-chevron-right pull-right"></span></a>

            </li> -->
        </ul>

    </div>

    <!--[if !IE]> -->

    <!-- <script type="text/javascript">
        window.jQuery || document.write("<script src='../public/js/jquery-2.0.3.min.js'>" + "<" + "/script>");
    </script>

    <script type="text/javascript">
        if ("ontouchend" in document) document.write("<script src='../public/js/jquery.mobile.custom.min.js'>" + "<" +
            "/script>");
    </script> -->
    <script language="JavaScript" src="../public/js/bootstrap.min.js"></script>
    <script src="../public/js/typeahead-bs2.min.js"></script>

    <!-- page specific plugin scripts -->

    <!-- ace scripts -->

    <script src="../public/js/ace-elements.min.js"></script>
    <script src="../public/js/ace.min.js"></script>

    <!-- inline scripts related to this page -->
    <script type="text/javascript">
        var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
        document.write(unescape("%3Cscript src='" + _bdhmProtocol + ""));
    </script>
</body>

</html>