<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        <%= title %>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/font-awesome.min.css">

    <link rel="stylesheet" href="/public/css/ace.min.css">
    <link rel="stylesheet" href="/public/css/ace-rtl.min.css">
    <link rel="stylesheet" href="/public/css/ace-skins.min.css">
    <script src="/public/javascripts/jquery.min.js"></script>
    
    <script src="/public/js/ace-extra.min.js"></script>

    <style>
        /* 侧边栏分辨率大于等于 768px 时 宽度设置250px） 小于768px时 样式表不起作用 */
        @media (min-width: 768px) {
            #slider_sub{
                width: 250px;
                height: 600px;
                margin-top:51px;
                position: absolute;
                z-index: 1;
            }
        }
    </style>
</head>

<body>
    <%include header.ejs %>
    <div class="navbar-collapse" id="slider_sub">
        <ul class="nav">
            <% prjs.forEach(function(prj){ %>
            <% if (prj.status == "进行中"){ %>
            <li style="background-color: #EEEEEE"><a href="<%= prj.linkurl %>">
                    <%= prj.name %><span class="glyphicon glyphicon-chevron-right pull-right">
                    </span>
                </a>
            </li>
            <% }else { %>
            <li>
                <a href="<%= prj.linkurl %>">
                    <%= prj.name %><span class="glyphicon glyphicon-chevron-right pull-right">
                    </span>
                </a>
            </li>
            <% } %>
            <% }) %>

        </ul>

    </div>

    <script language="JavaScript" src="/public/js/bootstrap.min.js"></script>
    <script src="/public/js/typeahead-bs2.min.js"></script>

    <script src="/public/js/ace-elements.min.js"></script>
    <script src="/public/js/ace.min.js"></script>

    <script type="text/javascript">
        var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
        document.write(unescape("%3Cscript src='" + _bdhmProtocol + ""));
    </script>
</body>

</html>