<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>病例信息</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- basic styles -->

    <link rel="stylesheet" href="../../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../public/css/font-awesome.min.css">

    <!--[if IE 7]>
    <link rel="stylesheet" href="../public/css/font-awesome-ie7.min.css" />
    <![endif]-->

    <!-- page specific plugin styles -->
    <link rel="stylesheet" href="../../public/css/jquery-ui-1.10.3.custom.min.css" />
    <link rel="stylesheet" href="../../public/css/jquery.gritter.css" />
    <!-- fonts -->

    <!-- ace styles -->
    <link rel="stylesheet" href="../../public/css/ace.min.css">
    <link rel="stylesheet" href="../../public/css/ace-rtl.min.css">
    <link rel="stylesheet" href="../../public/css/ace-skins.min.css">
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="../public/css/ace-ie.min.css" />
    <![endif]-->

    <!-- inline styles related to this page -->

    <!-- ace settings handler -->

    <script src="../../public/js/ace-extra.min.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

    <!--[if lt IE 9]>
    <script src="../public/js/html5shiv.js"></script>
    <script src="../public/../public/js/respond.min.js"></script>
    <![endif]-->

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
<!-- 导航 -->
<div class="navbar navbar-default" id="navbar">
    <script type="text/javascript">
        try {ace.settings.check('navbar','fixed')}catch (e) {}
    </script>

    <div class="navbar-container" id="navbar-container">
        <div class="navbar-header pull-left">
            <a href="../../home" class="navbar-brand">
                <small>
                    <i class="icon-leaf">
                        中医妇科临床流调数据中心
                    </i>
                </small>
            </a>
        </div>
    </div>

    <div class="navbar-header pull-right" role="navigation">
        <ul class="nav ace-nav">
            <li class="light-blue">
                <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                    <img class="nav-user-photo" src="../../public/avatars/0017030553263367_b.jpg" alt="Jason's Photo">
                    <span class="user-info">
                        <small>欢迎,</small>
                        <%= username %>
                    </span>

                    <i class="icon-caret-down"></i>
                </a>

                <ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">

                    <li class="divider"></li>

                    <li>
                        <a href="../../logout">
                            <i class="icon-off"></i>
                            注销
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>

<div class="main-container" id="main-container">
    <script type="text/javascript">
        try{ace.settings.check('main-container' , 'fixed')}catch(e){}
    </script>

    <div class="main-container-inner">

        <a class="menu-toggler" id="menu-toggler" href="#">
            <span class="menu-text"></span>
        </a>

        <div class="sidebar" id="sidebar">
            <script type="text/javascript">
                try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
            </script>

            <ul class="nav nav-list">
                <li>
                    <a href="../../prj001">
                        <i class="icon-dashboard"></i>
                        <span class="menu-text"> 数据展示 </span>
                    </a>
                </li>

                <li>
                    <a href="../../prj001/datainput">
                        <i class="icon-text-width"></i>
                        <span class="menu-text"> 数据采集 </span>
                    </a>
                </li>

                <li>
                    <a href="../../public/dataana.html">
                        <i class="icon-list-alt"></i>
                        <span class="menu-text"> 数据分析 </span>
                    </a>
                </li>

                <li>
                    <a href="../../public/about.html">
                        <i class="icon-tag"></i>
                        <span class="menu-text"> 关于 </span>
                    </a>
                </li>
            </ul>

            <div class="sidebar-collapse" id="sidebar-collapse">
                <i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
            </div>

            <script type="text/javascript">
                try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
            </script>
        </div>

        <div class="main-content">
            <div class="page-content">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="tabbable">
                                <ul class="nav nav-tabs padding-12 tab-color-blue background-blue" id="myTab4">
                                    <li class="active">
                                        <a data-toggle="tab" href="#home4">一般情况</a>
                                    </li>

                                    <li>
                                        <a data-toggle="tab" href="#profile4">月经情况</a>
                                    </li>

                                    <li>
                                        <a data-toggle="tab" href="#dropdown14">全身症状</a>
                                    </li>

                                    <li>
                                        <a data-toggle="tab" href="#profile5">其他情况</a>
                                    </li>

                                    <li>
                                        <a data-toggle="tab" href="#dropdown15">临床诊断</a>
                                    </li>
                                </ul>

                                <div class="tab-content">
                                    <div id="home4" class="tab-pane in active">
                                        <p>日期：<%= archives.geninfo.recdate %></p> 
                                        <p>问卷编码：<%= archives.geninfo.serial %></p>
                                        <p>医院名称：<%= archives.geninfo.hospital %></p>
                                        <p>填表专家姓名：<%= archives.geninfo.expert %></p>
                                        <p>职称：<%= archives.geninfo.title %></p>
                                        <p>患者姓名：<%= archives.geninfo.name %></p>
                                        <p>电话：<%= archives.geninfo.telephone %></p>
                                        <p>年龄：<%= archives.geninfo.age %></p>
                                        <p>身高cm：<%= archives.geninfo.height %></p>
                                        <p>体重kg：<%= archives.geninfo.weight %></p>
                                        <p>血型：<%= archives.geninfo.blood_type %></p>
                                        <p>民族：<%= archives.geninfo.nation %></p>
                                        <p>职业：<%= archives.geninfo.career %></p>
                                        <p>病人现住址：<%= archives.geninfo.address %></p>
                                        <p>病人来源：<%= archives.geninfo.entrance %></p>
                                        <p>文化程度：<%= archives.geninfo.culture %></p>
                                        <p>婚姻状况：<%= archives.geninfo.marriage %></p>
                                        <p>特殊工种环境：<%= archives.geninfo.special_env %></p>
                                        <p>饮食偏好：<%= archives.geninfo.food_favor %></p>
                                    </div>

                                    <div id="profile4" class="tab-pane">
                                            
                                        <p>初潮年龄：<%= archives.menstruation.first_time %></p>
                                        <p>月经周期：<%= archives.menstruation.cyclicity %></p>
                                        <p>月经规律间隔天数：<%= archives.menstruation.normal %></p>
                                        <p>月经不规律：<%= archives.menstruation.abnormal %></p>
                                        <p>行经天数：<%= archives.menstruation.blood_cond %></p>
                                        <p>出血情况：<%= archives.menstruation.cyclicity_sum %></p>
                                        <p>出血颜色：<%= archives.menstruation.blood_color %></p>
                                        <p>出血质地：<%= archives.menstruation.blood_quality %></p>
                                        <p>血块：<%= archives.menstruation.blood_block %></p>
                                        <p>出血特点：<%= archives.menstruation.blood_character %></p>
                                    </div>

                                    <div id="dropdown14" class="tab-pane">
                                            
                                        <p>精神：<%= archives.symptom.spirit %></p>
                                        <p>情绪：<%= archives.symptom.mood %></p>
                                        <p>寒热：<%= archives.symptom.chillfever %></p>
                                        <p>出汗：<%= archives.symptom.sweat %></p>
                                        <p>语音：<%= archives.symptom.sound %></p>
                                        <p>面色：<%= archives.symptom.face %></p>
                                        <p>心：<%= archives.symptom.heart %> </p>
                                        <p>乳房：<%= archives.symptom.breast %></p>
                                        <p>胸胁：<%= archives.symptom.chest %></p>
                                        <p>腰膝：<%= archives.symptom.waist %></p>
                                        <p>腹部：<%= archives.symptom.stomach %></p>
                                        <p>头：<%= archives.symptom.head %> </p>
                                        <p>目：<%= archives.symptom.eyes %> </p>
                                        <p>耳：<%= archives.symptom.ear %> </p>
                                        <p>咽喉：<%= archives.symptom.throat %></p>
                                        <p>口味：<%= archives.symptom.breath %></p>
                                        <p>饮食：<%= archives.symptom.diet %></p>
                                        <p>睡眠：<%= archives.symptom.sleep %></p>
                                        <p>大便：<%= archives.symptom.stool %></p>
                                        <p>小便：<%= archives.symptom.urine %></p>
                                        <p>四肢：<%= archives.symptom.limb %></p>
                                        <p>其他：<%= archives.symptom.other %></p>
                                        <p>舌质：<%= archives.symptom.texture %></p>
                                        <p>舌苔：<%= archives.symptom.coating %></p>
                                        <p>舌体：<%= archives.symptom.tongue %></p>
                                        <p>脉象：<%= archives.symptom.pulse %></p>
                                    </div>

                                    <div id="profile5" class="tab-pane">
                                        <p>出生情况：<%= archives.other.born %></p>
                                        <p>特殊嗜好：<%= archives.other.hobbies %></p>
                                        <p>体力状况：<%= archives.other.body_cond %></p>
                                        <p>职业体力活动：<%= archives.other.career_labor %></p>
                                        <p>贫血与否：<%= archives.other.poor_blood %></p>
                                        <p>体育锻炼：<%= archives.other.phycial_exercise %></p>
                                        <p>一级亲属（母亲、姐妹、女儿）异常子宫出血史：<%= archives.other.womb_blood %></p>
                                        <p>是否为排卵障碍性：<%= archives.other.ovulation %></p>

                                        <b>减肥情况：<%= archives.other.reducefat %></b>
                                        <p>减肥时长(月)：<%= archives.other.reducefat_persist %></p>

                                        <b>经期情况</b>
                                        <p>经期运动：<%= archives.other.mens_yundong %></p>
                                        <p>经期感冒：<%= archives.other.mens_ganmao %></p>
                                        <p>经期同房：<%= archives.other.mens_tongfang %></p>
                                        <p>经期着凉：<%= archives.other.mens_zhaoliang %></p>

                                        <p>平素带下情况：<%= archives.other.leucorrhea %></p>
                                        <p>既往病史：<%= archives.other.pasthistory %></p>
                                        <p>月经不调病史：<%= archives.other.pastmens %></p>
                                        <p>一级亲属其它病史：<%= archives.other.pastfamily %></p>

                                        <b>孕育史</b>
                                        <p>孕次总数：<%= archives.other.pastpreg_yuncount %></p>
                                        <p>刨宫产次数：<%= archives.other.pastpreg_pougong %></p>
                                        <p>顺产次数：<%= archives.other.pastpreg_shunchan %></p>
                                        <p>药物流产次数：<%= archives.other.pastpreg_yaoliu %></p>
                                        <p>人工流产次数：<%= archives.other.pastpreg_renliu %></p>
                                        <p>自然流产次数：<%= archives.other.pastpreg_ziranliu %></p>
                                        <p>生化妊娠次数：<%= archives.other.pastpreg_shenghuarenshen %></p>
                                        <p>异位妊娠次数：<%= archives.other.pastpreg_yiweirenshen %></p>
                                        <p>胎停育次数：<%= archives.other.pastpreg_taitingyu %></p>
                                        <p>清宫术次数：<%= archives.other.pastpreg_qinggongshu %></p>

                                        <b>避孕措施：<%= archives.other.prevent %></b>
                                        <p>避孕药：<%= archives.other.biyunyao %></p>
                                        <p>末次口服避孕药时间：<%= archives.other.biyunyao_time %></p>

                                        <b>其它辅助检查</b>
                                        <p>血红蛋白值：<%= archives.other.accessory_hgb_value %></p>
                                        <p>全血细胞计数：<%= archives.other.accessory_quanxuexibaojishu %></p>
                                        <p>出血性疾病筛查（如女性血管性血友病）：<%= archives.other.accessory_chuxuexingjibing %></p>
                                        <p>凝血功能检查：<%= archives.other.accessory_ningxue %></p>
                                        <p>甲状腺功能检测：<%= archives.other.accessory_jiazhuangxian %></p>
                                        <p>尿妊娠试验：<%= archives.other.accessory_niaorenshen %></p>
                                        <p>盆腔超声检查：<%= archives.other.accessory_penqiangchaosheng %></p>
                                        <p>基础体温测定：<%= archives.other.accessory_jichutiwen %></p>
                                        <p>激素水平测定：<%= archives.other.accessory_jisushuiping %></p>
                                        <p>诊断性刮宫或宫腔镜下刮宫：<%= archives.other.accessory_guagong %></p>
                                        <p>其它说明：<%= archives.other.accessory_qita %></p>

                                    </div>

                                    <div id="dropdown15" class="tab-pane">
                                        <p>中医诊断：<%= archives.clinicalconclusion.chinese_medicine %></p>
                                        <p>虚证诊断：<%= archives.clinicalconclusion.asthenic %></p>
                                        <p>实证诊断：<%= archives.clinicalconclusion.demonstration %></p>
                                        <p>虚实夹杂诊断：<%= archives.clinicalconclusion.def_ex %></p>
                                        <p>西医诊断：<%= archives.clinicalconclusion.west %></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div><!-- /.main-container-inner -->

    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="icon-double-angle-up icon-only bigger-110"></i>
    </a>
</div>


<!--[if !IE]> -->

<script type="text/javascript">
    window.jQuery || document.write("<script src='../../public/js/jquery-2.0.3.min.js'>"+"<"+"/script>");
</script>

<!-- <![endif]-->

<!--[if IE]>
<script type="text/javascript">
    window.jQuery || document.write("<script src='../public/js/jquery-1.10.2.min.js'>"+"<"+"/script>");
</script>
<![endif]-->

<script type="text/javascript">
    if("ontouchend" in document) document.write("<script src='../../public/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
</script>
<script src="../../public/js/bootstrap.min.js"></script>
<script src="../../public/js/typeahead-bs2.min.js"></script>

<!-- page specific plugin scripts -->


<!--[if lte IE 8]>
<script src="../public/js/excanvas.min.js"></script>
<![endif]-->

<script src="../../public/js/jquery-ui-1.10.3.custom.min.js"></script>
<script src="../../public/js/jquery.ui.touch-punch.min.js"></script>
<script src="../../public/js/bootbox.min.js"></script>
<script src="../../public/js/jquery.easy-pie-chart.min.js"></script>
<script src="../../public/js/jquery.gritter.min.js"></script>
<script src="../../public/js/spin.min.js"></script>
<!-- ace scripts -->

<script src="../../public/js/ace-elements.min.js"></script>
<script src="../../public/js/ace.min.js"></script>

<!-- inline scripts related to this page -->

<script type="text/javascript">
    var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cscript src='" + _bdhmProtocol + ""));
</script>
</body>
</html>