<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>数据展示</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/public/css/myPagination.css">
    <link rel="stylesheet" href="/public/bootstrap3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/font-awesome.min.css">

    <link rel="stylesheet" href="/public/css/ace.min.css">
    <link rel="stylesheet" href="/public/css/ace-rtl.min.css">
    <link rel="stylesheet" href="/public/css/ace-skins.min.css">

    <link rel="stylesheet" href="/public/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/public/css/jquery-ui-1.10.3.full.min.css" />

    <script src="/public/js/ace-extra.min.js"></script>
    <script src="/public/javascripts/jquery.min.js"></script>
    <script src="/public/js/bootstrap-datepicker.js"></script>
    <script src="/public/js/bootstrap-datepicker.zh-CN.js"></script>

    <script src="/public/js/respond.min.js"></script>
    <script src="/public/js/jquery.pagination.min.js"></script>

    <script src="/public/js/prj001-info.js"></script>
    <!-- 日期控件格式调整 -->
    <script src="/public/js/datepicker-options.js"></script>
    
    <!-- 一些全局变量 -->
    <script>
        var curpage_global = '<%= curpage %>' ;
        var totalpagenumber_global = '<%= totalpagenumber %>';
        var username = '<%= username %>';
    </script>

    <!-- 分页格式 -->
    <style>
    .color{
        color: #fff;
    }
    :hover.color {
        color: #fff;
    }
    .page{
        height: 35px;
        font-size: 13px;
        text-align: center;
        line-height: 35px;
        width: 40%;
    }
    .ui-pagination-container{
        height: 40px;
    }
    .ui-pagination-container a{
        display: inline-block;
        border: 1px solid #DDD;
        width: 11%;
        height: 35px;
        float: left;
    }
    .ui-pagination-container .active{
        background: #6fb3e0;
        color: white;
    }
    .btn-blue {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
}
    .input-icon>[class*="icon-"] {
        padding: 0 3px;
        z-index: 2;
        position: absolute;
        top: 4px;
        bottom: 1px;
        left: 3px;
        line-height: 28px;
        display: inline-block;
        color: #909090;
        font-size: 16px
}
    </style>
    <!-- 分页格式 -->
    <!-- 表格样式 -->
    <style>
        .table>tbody>tr>td{
            vertical-align:middle;
            text-align: center;
        }
    </style>
    <!-- 表格样式 -->
    <!-- 解决问题:Unable to preventDefault inside passive event listener due to target being treated as passive -->
    <style>html {touch-action: manipulation;}</style>
    


    <!-- 搜索结果导出、审核操作 -->
    <script>
        $(document).ready(function () {
            // $("#id_is_checked option[value='"+$("#search-check").val()+"']").prop("selected","selected");//选中值
            // alert(($("#id_is_checked").val()=="未审核"));
            $("#fileoutBtn").click(function () {
                // alert(""+$('#id_is_checked option:selected').val());
                // alert(""+$('#id_is_checked').val());
                $.ajax({
                        url: "/prj001/info/search/", 
                        // url:"http://10.17.1.98:8001/prj001/fileout/",
                        // headers:{ Authorization: 'Bearer 6Xhucit2aVk4hSQRMMCAi816Thw2RJ' },
                        type: "GET",
                        // dataType: "json",
                        data:{
                            types:'download',
                            name: $('#sname').val(),
                            address: $('#saddress').val(),
                            telephone: $('#stelephone').val(),
                            hospital: $('#shospital').val(),
                            // is_checked: $('#id_is_checked option:selected').val(),
                            is_checked: $('#search-check').val(),
                        },
                        success: function (result) {
                            alert("导出成功");
                            window.location.href="http://" + result.data;
                        },
                        error:  function () {
                            alert("导出错误");
                        },
                })
            })
    
            //审核原因显示
            $(".check-opt").click(function () {
                $("#checkBtn").attr("checkstatus",$(this).attr("checkstatus"));
                $("#checkBtn").attr("page",$(this).attr("page"));
                $("#checkBtn").attr("userid",$(this).attr("userid"));
                $("#checkBtn").attr("reasontext",$(this).attr("reasontext"));
                $("#checkBtn").attr("is-admin",$(this).attr("is-admin"));

                $("#check-reason").val($(this).attr("reasontext"));//写入审核不通过原因
                $("input[name='check-status'][value='"+$(this).attr("checkstatus")+"']").prop("checked",true);//审核状态勾选
                if ($(this).attr("is-admin") == "false") {
                    $("#checkBtn").prop("disabled","disabled");
                    $(".check-items").remove();
                    $("#checkBtn").remove();
                } 
                else {
                    if ($(this).attr("checkstatus") == "审核不通过") {
                        $("#check-reason").prop("disabled", false);
                    } else {
                        $("#check-reason").val("");
                        $("#check-reason").prop("disabled", true);
                    }
                }
                
            })
            //审核原因修改
            $(".checkBtn").click(function () {
                // alert(""+$('input[name="check-status"]:checked').val())
                $.ajax({
                    url: "/prj001/check",
                        method: "POST",
                        data: {id:$(this).attr("userid"),
                              check:$('input[name="check-status"]:checked').val(),
                              page:$(this).attr("page"),
                            reason:$("#check-reason").val()},
                        success:function(result){
                            alert("修改成功");
                            window.location.href="/prj001/?page=" + curpage_global;
                        },
                        error: function () {
                            alert("修改失败！");
                            window.location.href = "/prj001/?page=" + curpage_global;
                        }
                })
            });

        })
    </script>
    <!-- 搜索结果导出、审核操作 -->

    <!-- 删除操作 -->
    <script>
        $(document).ready(function () {
            //删除显示
            $(".delete-opt").click(function () {
                $("#deleteBtn").attr("checkstatus",$(this).attr("checkstatus"));
                $("#deleteBtn").attr("page",$(this).attr("page"));
                $("#deleteBtn").attr("userid",$(this).attr("userid"));
                $("#deleteBtn").attr("is-admin",$(this).attr("is-admin"));
                $("#deleteBtn").attr("owner",$(this).attr("owner"));
                if ("审核通过"==$(this).attr("checkstatus")) {
                    alert("该条信息已审核通过,您无法删除。");
                } else {
                    if ($(this).attr("is-admin")=="true") {
                        $('#delete-table').modal('show');
                    } else {
                        if (username == $(this).attr("owner")) {
                            $('#delete-table').modal('show');
                        } else {
                            alert("该条信息由其他人创建,您无法删除。");
                        }
                    } 
                }
                    // $('#delete-table').modal('show');
                    // $('#delete-table').modal('hide');
            })
            //删除执行
            $(".deleteBtn").click(function () {
                $.ajax({
                    url: "/prj001/delete",
                    method: "POST",
                    data: {
                        id:$(this).attr("userid"),
                        is_admin:$(this).attr("is-admin"),
                        check:$('input[name="check-status"]:checked').val(),
                        page:$(this).attr("page"),
                    },
                    success:function(result){
                        alert("删除成功");
                        window.location.href="/prj001/?page=" + curpage_global;
                    },
                    error: function () {
                        alert("删除失败");
                        window.location.href="/prj001/?page=" + curpage_global;
                    }
                })
            });
        
        })
    </script>
    <!-- 删除操作 -->

    <!-- 单选可以取消选中 -->
    <!-- <script>
        $(document).ready(function () {
            $(function () {
                var flag = true;
                $("input:radio").click(function () {                
                    $(this).prop("checked",flag);
                    flag = !flag;
                })
            });
        });
    </script> -->
    <script>
            $(document).ready(function () {
            $(':radio').mousedown(function(e){
                var $self = $(this);
                if( $self.is(':checked') ){
                var uncheck = function(){
                  setTimeout(function(){$self.removeAttr('checked');},0);
                };
                var unbind = function(){
                  $self.unbind('mouseup',up);
                };
                var up = function(){
                  uncheck();
                  unbind();
                };
                $self.bind('mouseup',up);
                $self.one('mouseout', unbind);
                }
            });
            })
    </script>
    <!-- 单选可以取消选中 -->
</head>

<body class="no-skin" style="font-family: PingFangSC-Light, Tahoma, Arial, SimSun, Microsoft Yahei,sans-serif;">
        
    <%include header.ejs %>
    <div class="main-container" id="main-container">
            
        <script type="text/javascript">
            try {
                ace.settings.check('main-container', 'fixed')
            } catch (e) {}
        </script>

        <div class="main-container-inner">

            <button type="button" class="menu-toggler pull-left" id="menu-toggler" data-target="#sidebar" 
                    style="padding-top: 3px;padding-bottom: 3px">
                <span style="color:white">菜单</span>
            </button>

            <%include sidebar.ejs %>

            <div class="main-content">
                    <!-- 路径导航 -->
                <div class="breadcrumbs" id="breadcrumbs">
                    <script type="text/javascript">
                        try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
                    </script>
                
                    <ul class="breadcrumb">
                        <li>
                            <i class="ace-icon fa fa-home home-icon"></i>
                            <a href="/home">首页</a >
                        </li>
                
                        <li>
                            <a href="/prj001">数据展示</a >
                        </li>
                        <li class="active">当前页</li>
                    </ul>
                </div>
                <!-- 路径导航 -->
                <div class="page-header">
                    
                </div>
                <div class="page-content">
                    <div class="row">
                        <div class="col-xs-12">
                            <!-- PAGE CONTENT BEGINS -->
                            <div class="row">
                                <div class="col-xs-12">
                                        <!-- 搜索框 -->
                                        <form class="form-horizontal" id="search-form" role="form" method='get' action="/prj001/info/search/">
                                        <input hidden type="search" id="types" name="types" value="search">
                                            <div class="row">
                                                <div class="col-md-3 col-xs-6">
                                                <div class="form-group">
                                                    <label class="col-md-3 control-label no-padding-right" for="sname"> 患者姓名 </label>
                                                    <div class="col-md-6">
                                                        <input type="search" id="sname" name="name" value="<%= name %>">
                                                    </div>
                                                </div>
                                                </div>

                                                <div class="col-md-3 col-xs-6">
                                                <div class="form-group">
                                                    <label class="col-md-3 control-label no-padding-right" for="saddress"> 患者地区 </label>
                                                    <div class="col-md-6">
                                                        <input type="search" id="saddress" name="address" value="<%= address %>">
                                                    </div>
                                                </div>
                                                </div>

                                                <input hidden type="text" id="search-check" value="<%= is_checked %>" >
                                                <div class="col-md-3 col-xs-6">
                                                <div class="form-group">
                                                    <label class="col-md-3 control-label no-padding-right" for="id_is_checked"> 审核状态 </label>
                                                    <div class="col-md-8">
                                                        <select id="id_is_checked" name="is_checked">
                                                            <option value=""></option>
                                                            <option value="未审核">未审核</option>
                                                            <option value="审核通过">审核通过</option>
                                                            <option value="审核不通过">审核不通过</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                </div>
                                            </div>

                                        <div class="row">
                                            <div class="col-md-3 col-xs-6">
                                                <div class="form-group">
                                                    <label class="col-md-3 control-label no-padding-right" for=""> 患者手机 </label>
                                                    <div class="col-md-6">
                                                        <input type="search" id="stelephone" name="telephone" value="<%= telephone %>">
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-md-3 col-xs-6">
                                                <div class="form-group">
                                                    <label class="col-md-3 control-label no-padding-right" for=""> 所在医院 </label>
                                                    <div class="col-md-6">
                                                        <input type="search" id="shospital" name="hospital" value="<%= hospital %>">
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-md-3 col-xs-6">
                                                <label>
                                                    <button class="btn-info no-radius" type="submit" id="searchBtn">检索</button>
                                                </label>
                                                <label>
                                                    <button type="button" class="btn-info no-radius fileoutBtn" id="fileoutBtn">导出Excel</button>
                                                </label>
                                            </div>
                                        </div>
                                        
                                        </form>
                                        <!-- 搜索框 -->
                                    <hr>
                                    <div class="table-responsive" style="overflow:scroll;">
                                        <!-- 信息列表框 -->
                                        <table class="table table-striped table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th>姓名</th>
                                                    <th>编码</th>
                                                    <th>医院</th>
                                                    <th>住址</th>
                                                    <th>专家</th>
                                                    <th>录入人</th>
                                                    <th>信息完整度</th>
                                                    <th>审核状态</th>
                                                    <th>数据修改</th>
                                                </tr>
                                            </thead>
                                            
                                            <tbody id="archivelist">
                                                <% archives.forEach(function(archive){ %>
                                                <tr>
                                                    <td>
                                                        <!-- <a href="../prj001/patientInfo/?id=<%= archive.id %>"><%= archive.name %></a> -->
                                                        <strong><%= archive.name %></strong>
                                                        </td>
                                                    <td>
                                                        <%= archive.serial %>
                                                        </td>
                                                    <td>
                                                        <%= archive.hospital %>
                                                        </td>
                                                    <td>
                                                        <%= archive.address %>
                                                        </td>
                                                    <td>
                                                        <%= archive.expert %>
                                                        </td>
                                                    <td>
                                                        <%= archive.owner %>
                                                        </td>
                                                    <td>
                                                        <div class="progress progress-striped pos-rel" data-percent="<%= archive.degree_of_completion %>" style="margin:auto;">
                                                            <div class="progress-bar progress-bar-inverse" style="width: <%= archive.degree_of_completion %>" ></div>
                                                        </div>
                                                        </td>  
                                                    <td>
                                                        <% if (archive.is_checked == '审核通过') { %>
                                                            <span class="label label-sm label-success" style="line-height: 1.3"><%= archive.is_checked %></span>
                                                        <% } else if (archive.is_checked == '审核不通过') { %>
                                                            <span class="label label-sm label-danger" style="line-height: 1.3"><%= archive.is_checked %></span>
                                                        <% } else { %>
                                                            <span class="label label-sm label-warning" style="line-height: 1.3"><%= archive.is_checked %></span>
                                                        <% } %>
                                                        </td>   
                                                    <td>
                                                    <!-- 有审核按钮 -->
                                                        <% if (is_admin == true) { %>
                                                        <!-- 大窗口 -->
                                                        <div class="visible-md visible-lg hidden-sm hidden-xs btn-group">
                                                            <button id="geninfo"  checked-info="no" data-backdrop="static" data-backdrop="static" data-toggle="modal" data-target="#modal-table" class="btn btn-xs btn-success geninfo" geninfo-url=<%= archive.url %>>
                                                                基本信息
                                                            </button>
                                                            <button id="summary"  checked-info="no" data-backdrop="static" data-toggle="modal" data-target="#modal-table1" class="btn btn-xs btn-primary summary" geninfo-url=<%= archive.url %> summary-url=<%= archive.summary %>>
                                                                病情概要
                                                            </button>
                                                            <button id="history" checked-info="no" data-backdrop="static" data-toggle="modal" data-target="#modal-table2" class="btn btn-xs btn-grey history" geninfo-url=<%= archive.url %> history-url=<%= archive.history %>>
                                                                患者病史
                                                            </button>
                                                            <button id="relevant" checked-info="no" data-backdrop="static" data-toggle="modal" data-target="#modal-table3" class="btn btn-xs btn-pink relevant" geninfo-url=<%= archive.url %> relevant-url=<%= archive.relevant %>>
                                                                相关检查
                                                            </button>
                                                            <button id="cc" checked-info="no" data-backdrop="static" data-toggle="modal" data-target="#modal-table4" class="btn btn-xs btn-info cc" geninfo-url=<%= archive.url %> cc-url=<%= archive.cc %>>
                                                                临床诊断
                                                            </button>
                                                            <button id="cure" checked-info="no" data-backdrop="static" data-toggle="modal" data-target="#modal-table5" class="btn btn-xs btn-success cure" geninfo-url=<%= archive.url %> cure-url=<%= archive.cure %>>
                                                                中西治疗
                                                            </button>
                                                            <button id="results" checked-info="no" data-backdrop="static" data-toggle="modal" data-target="#modal-table6" class="btn btn-xs btn-purple results" geninfo-url=<%= archive.url %> results-url=<%= archive.results %>>
                                                                疗效情况
                                                            </button>

                                                            <button class="btn btn-xs btn-danger check-opt" data-backdrop="static"  data-toggle="modal" data-target="#check-table"
                                                                    is-admin=<%= is_admin %> checkstatus=<%= archive.is_checked %> page=<%= curpage %> userid=<%= archive.id %> reasontext=<%= archive.reasons_for_not_passing %> >
                                                                审核操作
                                                            </button>
                                                            <% if (archive.is_checked != "审核通过") { %>
                                                            <button class="btn btn-xs btn-danger delete-opt" data-backdrop="static"  data-toggle="modal"
                                                                    is-admin=<%= is_admin %> checkstatus=<%= archive.is_checked %> page=<%= curpage %> userid=<%= archive.id %> owner=<%= archive.owner %> >
                                                                <i class="ace-icon fa fa-trash-o"></i>
                                                            </button>
                                                            <% } %>
                                                        </div>
                                                        <!-- 小窗口 -->
                                                        <div class="visible-xs visible-sm hidden-md hidden-lg btn-group">
                                                            <div class="inline position-relative">
                                                                <button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown">
                                                                    <i class="ace-icon fa fa-cog bigger-100"></i>
                                                                </button>
                                                                <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-caret dropdown-close pull-right">
                                                                    <li>
                                                                        <a checked-info="no" href="#modal-table" data-toggle="modal" class="tooltip-info geninfo"
                                                                            geninfo-url=<%= archive.url %>>
                                                                            <span class="" style="color:#777">
                                                                                基本信息
                                                                            </span>
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a checked-info="no" href="#modal-table1" data-toggle="modal" class="tooltip-success summary" 
                                                                        geninfo-url=<%= archive.url %> summary-url=<%= archive.summary %> >
                                                                            <span class="" style="color: #204d74">
                                                                                病情概要
                                                                            </span>
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a checked-info="no" href="#modal-table2" data-toggle="modal" class="tooltip-error history" 
                                                                        geninfo-url=<%= archive.url %> history-url=<%= archive.history %> >
                                                                            <span class="orange">
                                                                                患者病史
                                                                            </span>
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a checked-info="no" href="#modal-table3" data-toggle="modal" class="tooltip-info relevant"  
                                                                        geninfo-url=<%= archive.url %> relevant-url=<%= archive.relevant %> >
                                                                            <span class="red">
                                                                                相关检查
                                                                            </span>
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a checked-info="no" href="#modal-table4" data-toggle="modal" class="tooltip-info cc" 
                                                                        geninfo-url=<%= archive.url %> cc-url=<%= archive.cc %> >
                                                                            <span class="blue">
                                                                                临床诊断
                                                                            </span>
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a checked-info="no" href="#modal-table5" data-toggle="modal" class="tooltip-info cure" 
                                                                        geninfo-url=<%= archive.url %> cure-url=<%= archive.cure %> >
                                                                            <span class="green">
                                                                                中西治疗
                                                                            </span>
                                                                        </a>
                                                                        </li>
                                                                    <li>
                                                                        <a checked-info="no" href="#modal-table6" data-toggle="modal" class="tooltip-info results" 
                                                                        geninfo-url=<%= archive.url %> results-url=<%= archive.results %> >
                                                                            <span class="" style="color: #204d74">
                                                                                疗效情况
                                                                            </span>
                                                                        </a>
                                                                        </li>
                                                                    <li>
                                                                        <a href="#check-table" class="tooltip-error check-opt" role="button" data-toggle="modal"
                                                                            is-admin=<%= is_admin %> checkstatus=<%= archive.is_checked %> page=<%= curpage %> userid=<%= archive.id %> reasontext=<%= archive.reasons_for_not_passing %> >
                                                                            <span class="red">
                                                                                审核操作
                                                                            </span>
                                                                        </a >
                                                                    </li>
                                                                    <% if (archive.is_checked != "审核通过") { %>
                                                                    <li>
                                                                        <a class="tooltip-error delete-opt" role="button"  data-toggle="modal" data-backdrop="static" 
                                                                            is-admin=<%= is_admin %> checkstatus=<%= archive.is_checked %> page=<%= curpage %> userid=<%= archive.id %> owner=<%= archive.owner %> >
                                                                            <span class="red">
                                                                                删除
                                                                            </span>
                                                                        </a>
                                                                    </li>
                                                                    <% } %>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    <!-- 无审核按钮 -->
                                                        <% } else { %>
                                                        <!-- 大窗口 -->
                                                        <div class="visible-md visible-lg hidden-sm hidden-xs btn-group">
                                                                    <button id="geninfo" data-backdrop="static" checked-info="yes" data-toggle="modal" data-target="#modal-table" class="btn btn-xs btn-success geninfo" geninfo-url=<%= archive.url %>>
                                                                        基本信息
                                                                    </button>
                                                                    <button id="summary"  data-backdrop="static" checked-info="yes" data-toggle="modal" data-target="#modal-table1" class="btn btn-xs btn-primary summary" geninfo-url=<%= archive.url %> summary-url=<%= archive.summary %>>
                                                                        病情概要
                                                                    </button>
                                                                    <button id="history" data-backdrop="static" checked-info="yes" data-toggle="modal" data-target="#modal-table2" class="btn btn-xs btn-grey history" geninfo-url=<%= archive.url %> history-url=<%= archive.history %>>
                                                                        患者病史
                                                                    </button>
                                                                    <button id="relevant" data-backdrop="static" checked-info="yes" data-toggle="modal" data-target="#modal-table3" class="btn btn-xs btn-pink relevant" geninfo-url=<%= archive.url %> relevant-url=<%= archive.relevant %>>
                                                                        相关检查
                                                                    </button>
                                                                    <button id="cc" data-backdrop="static" checked-info="yes" data-toggle="modal" data-target="#modal-table4" class="btn btn-xs btn-info cc" geninfo-url=<%= archive.url %> cc-url=<%= archive.cc %>>
                                                                        临床诊断
                                                                    </button>
                                                                    <button id="cure" data-backdrop="static" checked-info="yes" data-toggle="modal" data-target="#modal-table5" class="btn btn-xs btn-success cure" geninfo-url=<%= archive.url %> cure-url=<%= archive.cure %>>
                                                                        中西治疗
                                                                    </button>
                                                                    <button id="results" data-backdrop="static" checked-info="yes" data-toggle="modal" data-target="#modal-table6" class="btn btn-xs btn-purple results" geninfo-url=<%= archive.url %> results-url=<%= archive.results %>>
                                                                        疗效情况
                                                                    </button>
                                                                    <% if (archive.is_checked == "审核不通过") { %>
                                                                    <button class="btn btn-xs btn-danger check-opt" data-backdrop="static"  data-toggle="modal" data-target="#check-table"
                                                                            is-admin=<%= is_admin %> checkstatus=<%= archive.is_checked %> page=<%= curpage %> userid=<%= archive.id %> reasontext=<%= archive.reasons_for_not_passing %> >
                                                                        不通过原因
                                                                    </button>
                                                                    <% } %>
                                                                    <% if (archive.is_checked != "审核通过") { %>
                                                                    <button class="btn btn-xs btn-danger delete-opt" data-backdrop="static"  data-toggle="modal"
                                                                            is-admin=<%= is_admin %> checkstatus=<%= archive.is_checked %> page=<%= curpage %> userid=<%= archive.id %> owner=<%= archive.owner %> >
                                                                        删除
                                                                    </button>
                                                                    <% } %>
                                                        </div>
                                                        <!-- 小窗口 -->
                                                        <div class="visible-xs visible-sm hidden-md hidden-lg btn-group">
                                                                <div class="inline position-relative">
                                                                    <button class="btn btn-minier btn-primary dropdown-toggle"
                                                                        data-toggle="dropdown">
                                                                        <i class="ace-icon fa fa-cog bigger-100"></i>
                                                                    </button>
                                                                    <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-caret dropdown-close pull-right">
                                                                        <li>
                                                                            <a checked-info="yes" href="#modal-table" data-toggle="modal" class="tooltip-info geninfo"
                                                                                geninfo-url=<%= archive.url %>>
                                                                                <span class="" style="color:#777">
                                                                                        基本信息
                                                                                </span>
                                                                            </a>
                                                                        </li>
                                                                        <li>
                                                                            <a checked-info="yes" href="#modal-table1" data-toggle="modal" class="tooltip-success summary" 
                                                                            geninfo-url=<%= archive.url %> summary-url=<%= archive.summary %> >
                                                                                <span class="" style="color: #204d74">
                                                                                    病情概要
                                                                                </span>
                                                                            </a>
                                                                        </li>
                                                                        <li>
                                                                            <a checked-info="yes" href="#modal-table2" data-toggle="modal" class="tooltip-error history" 
                                                                            geninfo-url=<%= archive.url %> history-url=<%= archive.history %> >
                                                                                <span class="orange">
                                                                                    患者病史
                                                                                </span>
                                                                            </a>
                                                                        </li>
                                                                        <li>
                                                                            <a checked-info="yes" href="#modal-table3" data-toggle="modal" class="tooltip-info relevant"  
                                                                            geninfo-url=<%= archive.url %> relevant-url=<%= archive.relevant %> >
                                                                                <span class="red">
                                                                                    相关检查
                                                                                </span>
                                                                            </a>
                                                                        </li>
                                                                        <li>
                                                                            <a checked-info="yes" href="#modal-table4" data-toggle="modal" class="tooltip-info cc" 
                                                                            geninfo-url=<%= archive.url %> cc-url=<%= archive.cc %> >
                                                                                <span class="blue">
                                                                                    临床诊断
                                                                                </span>
                                                                            </a>
                                                                        </li>
                                                                        <li>
                                                                            <a checked-info="yes" href="#modal-table5" data-toggle="modal" class="tooltip-info cure" 
                                                                            geninfo-url=<%= archive.url %> cure-url=<%= archive.cure %> >
                                                                                <span class="green">
                                                                                    中西治疗
                                                                                </span>
                                                                            </a>
                                                                            </li>
                                                                        <li>
                                                                            <a checked-info="yes" href="#modal-table6" data-toggle="modal" class="tooltip-info results" 
                                                                            geninfo-url=<%= archive.url %> results-url=<%= archive.results %> >
                                                                                <span class="" style="color: #204d74">
                                                                                    疗效情况
                                                                                </span>
                                                                            </a>
                                                                        </li>
                                                                        <% if (archive.is_checked == "审核不通过") { %>
                                                                        <li>
                                                                            <a href="#check-table" class="tooltip-error check-opt" role="button" data-toggle="modal"
                                                                                is-admin=<%= is_admin %> checkstatus=<%= archive.is_checked %> page=<%= curpage %> userid=<%= archive.id %> reasontext=<%= archive.reasons_for_not_passing %> >
                                                                                <span class="red">
                                                                                    不通过原因
                                                                                </span>
                                                                            </a >
                                                                        </li>
                                                                        <% } %>
                                                                        <% if (archive.is_checked != "审核通过") { %>
                                                                            <li>
                                                                                <a class="tooltip-error delete-opt" role="button"  data-toggle="modal" data-backdrop="static" 
                                                                                    is-admin=<%= is_admin %> checkstatus=<%= archive.is_checked %> page=<%= curpage %> userid=<%= archive.id %> owner=<%= archive.owner %> >
                                                                                    <span class="red">
                                                                                        删除
                                                                                    </span>
                                                                                </a>
                                                                            </li>
                                                                        <% } %>
                                                                    </ul>
                                                                </div>
                                                        </div>
                                                        <% } %>
                                            
                                                    </td>
                                                </tr>
                                                <% }) %>
                                            </tbody>
                                        </table>
                                        <!-- 信息列表框 -->
                                        
                                        <!-- 分页框 -->
                                        <div class="row">
                                            <div class="col-sm-6">共有 <%= totalCount %> 条</div>
                                            <div id="pagination" class="col-sm-6 page"  style="float:right">
                                                <script>
                                                    // 调用父页面的方法改变菜单指示
                                                    $(function(){
                                                        $("#pagination").pagination({
                                                            currentPage: parseInt(curpage_global),
                                                            totalPage: parseInt(totalpagenumber_global),
                                                            callback: function(current) {
                                                                if ( $("#sname").val()=="" && 
                                                                     $("#saddress").val()=="" && 
                                                                     $("#stelephone").val()=="" && 
                                                                     $("#shospital").val()==""&&
                                                                    //  $("#id_is_checked").val()=="") {
                                                                     $("#search-check").val()=="") {
                                                                    window.location.href = "/prj001/?page=" + current;
                                                                } else {
                                                                    window.location.href = "/prj001/info/search/?page=" + current + 
                                                                                                                  "&types=" + $("#types").val()
                                                                                                                + "&name=" + $("#sname").val() 
                                                                                                                + "&address=" + $("#saddress").val()
                                                                                                                + "&telephone=" + $("#stelephone").val()
                                                                                                                + "&hospital=" + $("#shospital").val()
                                                                                                                // + "&is_checked=" + $('#id_is_checked option:selected').val();
                                                                                                                + "&is_checked=" + $('#search-check').val();
                                                                }
                                                            }
                                                        });
                                                    });
                                                </script>
                                            </div>
                                        </div>
                                        <!-- 分页框 -->
                                    </div>
                                </div>
                            </div>
                            
                        <!-- 删除操作 -->
                        <div id="delete-table" class="modal fade" tabindex="-1">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header no-padding">
                                        <div class="table-header" style="background-color: #f0ad4e">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                <span class="white">&times;</span>
                                            </button>
                                            删除
                                        </div>
                                    </div>

                                    <div id="dialog-confirm" class="ui-dialog-content ui-widget-content" style="width: auto; min-height: 28px; max-height: none; height: auto;">
                                        <div class="space-6"></div>
                                        <p class="bigger-110 bolder center grey">
                                            <i class="icon-warning-sign red"></i>
                                            提示：是否确定删除整条信息？
                                        </p >
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" data-dismiss="modal" class="btn btn-xs ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" aria-disabled="false">
                                            <span class="ui-button-text">取消</span>
                                        </button>
                                        <button type="button" id="deleteBtn" class="deleteBtn btn btn-primary btn-xs ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" aria-disabled="false">
                                            <span class="ui-button-text">确定</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--审核操作-->
                        <script>
                                function disable_check_reason () {
                                    // alert(""+$("input[name='check-status']").val())
                                    $("#check-reason").val("");
                                    $("#check-reason").prop("disabled", true);
                                }
                                function able_check_reason () {
                                    // alert(""+$("input[name='check-status']").val())
                                    $("#check-reason").prop("disabled", false);
                                }
                        </script>
                        <div id="check-table" class="modal fade" tabindex="-1">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header no-padding">
                                        <div class="table-header" style="background-color: #f0ad4e">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                <span class="white">&times;</span>
                                            </button>
                                            审核状态
                                        </div>
                                    </div>
                                    <form class="modal-body no-padding" id="check-form">
                                        <table class="table table-striped table-bordered table-hover no-margin-bottom no-border-top">
                                            <div class="modal-body">
                                                <div class="row">
                                                    <div class="col-xs-12 col-sm-12">
                                                        <div class="control-group">
                                                        
                                                            <div class="radio check-items" >
                                                                <label>
                                                                    <input name="check-status" type="radio" class="ace" value="未审核" onchange="disable_check_reason();"/>
                                                                    <span class="lbl"> 未审核</span>
                                                                </label>
                                                            </div>
                                                        
                                                            <div class="radio check-items" >
                                                                <label>
                                                                    <input name="check-status" type="radio" class="ace" value="审核通过" onchange="disable_check_reason();"/>
                                                                    <span class="lbl"> 审核通过</span>
                                                                </label>
                                                            </div>
                                                        
                                                            <div class="radio check-items" >
                                                                <label>
                                                                    <input name="check-status" type="radio" class="ace" value="审核不通过" onchange="able_check_reason();"/>
                                                                    <span class="lbl"> 审核不通过</span>
                                                                </label>
                                                            </div>
                                                            <div style="margin-top: 10px">
                                                                <textarea class="form-control limited" id="check-reason" name="check-reason" maxlength="50" 
                                                                    style="margin: 0px -3.67188px 0px 20px; width: 514px; height: 117px;
                                                                    " value=""></textarea>
                                                                <!-- <input class="form-control" type="text" id="check-reason" name="check-reason" value=""/> -->
                                                            </div>
        
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </table>
                                        <div class="modal-footer">
                                            <!-- <button type="button" class="btn btn-primary pull-left cancelBtn" id="cancelBtn">取消</button> -->
                                            <button type="button" class="btn btn-primary checkBtn" id="checkBtn">提交</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>                                
                        <!--基本信息-->
                        <div id="modal-table" class="modal fade" tabindex="-1">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header no-padding">
                                            <div class="table-header center">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                    <span class="white">&times;</span>
                                                </button>
                                                基本信息
                                            </div>
                                        </div>
    
                                        <form class="modal-body no-padding form-geninfo" id="form-geninfo" onsubmit="return false" method="POST">
                                            <div class="modal-body">
                                                <div class="row">
                                                    <div class="col-xs-12 col-sm-12">
                                                            <!-- <div class="input-group-addon" style="color:blue" ></div> -->
                                                            <table class="table table-striped table-bordered table-hover">
                                                                    <tbody style="color:blue;font-size:15px;">
                                                                        <tr>
                                                                            <td style="text-align:left;" class="blue">就诊日期</td>
                                                                            <td><input id="recdate" name="recdate" type="text" class="form-control datepicker"/></td>
                                                                            </tr>
                                                                        <tr>
                                                                        <tr>
                                                                            <td style="text-align:left;" class="blue">问卷编码</td>
                                                                            <td><input class="form-control ace" id="serial" name="serial" type="text" disabled/></td>
                                                                        </tr>

                                                                        <tr>
                                                                            <td style="text-align:left;" class="blue">辅助医生邮箱</td>
                                                                            <td><input class="form-control ace" id="owner" name="owner" type="text" required/></td>
                                                                        </tr>
                                                                            
                                                                        <% include project001/form_info1.ejs %>
                                                                        <tr>
                                                                            <td style="text-align:left" class="blue">患者现住址</td>
                                                                            <td><input class="form-control" id="address" name="address" type="text" required/></td>
                                                                        </tr>
                                                                        <% include project001/form_info2.ejs %>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="modal-footer">
                                                <button type="submit" class="btn btn-primary geninfoBtn" id="geninfoBtn">保存修改</button>
                                            </div>
                                        </form>

                                </div>
                            </div>
                        </div>
                        <!--病情概要-->
                        <div id="modal-table1" class="modal fade" tabindex="-1">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header no-padding">
                                        <div class="table-header center">

                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                <span class="white">&times;</span>
                                            </button>
                                            病情概要

                                        </div>
                                    </div>

                                    <form class="modal-body no-padding form-summary" id="form-summary" onsubmit="return false" method="POST">
                                        <%include project001/form_summary.ejs %>
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-primary summaryBtn" id="summaryBtn">保存修改</button>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                        <!--患者病史-->
                        <div id="modal-table2" class="modal fade" tabindex="-1">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header no-padding">
                                        <div class="table-header center">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                <span class="white">&times;</span>
                                            </button>
                                            患者病史

                                        </div>
                                    </div>

                                    <form class="modal-body no-padding form-history" id="form-history" onsubmit="return false" method="POST">
                                        <%include project001/form_history.ejs %>
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-primary historyBtn" id="historyBtn">保存修改</button>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                        <!--相关检查-->
                        <div id="modal-table3" class="modal fade" tabindex="-1">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header no-padding">
                                        <div class="table-header center">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                <span class="white">&times;</span>
                                            </button>
                                            相关检查
                                        </div>
                                    </div>

                                    <form class="modal-body no-padding form-relevant" id="form-relevant" onsubmit="return false" method="POST">
                                        <%include project001/form_relevant.ejs %>
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-primary relevantBtn" id="relevantBtn">保存修改</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!--临床诊断-->
                        <div id="modal-table4" class="modal fade" tabindex="-1">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header no-padding">
                                        <div class="table-header center">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                <span class="white">&times;</span>
                                            </button>
                                            临床诊断
                                        </div>
                                    </div>

                                    <form class="modal-body no-padding form-cc" id="form-cc" onsubmit="return false" method="POST">
                                        <%include project001/form_cc.ejs %>
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-primary ccBtn" id="ccBtn">保存修改</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!--中西治疗-->
                        <div id="modal-table5" class="modal fade" tabindex="-1">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header no-padding">
                                        <div class="table-header center">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                <span class="white">&times;</span>
                                            </button>
                                            中西治疗
                                        </div>
                                    </div>

                                    <form class="modal-body no-padding form-cure" id="form-cure" onsubmit="return false" method="POST">
                                        <%include project001/form_cure.ejs %>
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-primary cureBtn" id="cureBtn">保存修改</button>
                                        </div>
                                    </form>


                                </div>
                            </div>
                        </div>
                        <!--疗效情况-->
                        <div id="modal-table6" class="modal fade" tabindex="-1">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header no-padding">
                                        <div class="table-header center">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                <span class="white">&times;</span>
                                            </button>
                                            疗效情况
                                        </div>
                                    </div>

                                    <form class="modal-body no-padding form-results" id="form-results" onsubmit="return false" method="POST">
                                        <%include project001/form_results.ejs %>
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-primary resultsBtn" id="resultsBtn">保存修改</button>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                       
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div><!-- /.main-content -->

        </div><!-- /.main-container-inner -->
    </div>
    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
            <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
    </a>


    <script src="/public/bootstrap3/js/bootstrap.min.js"></script>
    <script src="/public/js/typeahead-bs2.min.js"></script>


    <script src="/public/js/ace-elements.min.js"></script>
    <script src="/public/js/ace.min.js"></script>
    <script src="../public/js/jquery.inputlimiter.1.3.1.min.js"></script>
    <script src="../public/js/jquery.maskedinput.min.js"></script>

    <script type="text/javascript">
        jQuery(function ($) {
                
            $.mask.definitions['~'] = '[+-]';
            $('.input-mask-date').mask('99/99/9999');
            $('.input-mask-birth').mask('9999-99');
            $('.input-mask-phone').mask('(999) 999-9999');
            $('.input-mask-eyescript').mask('~9.99 ~9.99 999');
            $(".input-mask-product").mask("a*-999-a999", {
                placeholder: " ",
                completed: function () {
                    alert("You typed the following: " + this.val());
                }
            });

        });
    </script>
</body>

</html>